<!DOCTYPE html>
<html>
    <body>
        <!--the header section or the top part of every page-->
        <section class="header">
            <nav>
                <!--the logo on the header-->
                <a href="https://github.com/gwang1224/ate-recipes"><img src ="images/white_mushroom.png"  width="30px" height="30px"></a>
                <a style="color: white; font-family: Didot, serif;" href="{{ site.baseurl }}/ratings.html">rate our website!</a>
                <p style="color: white; font-family: Didot, serif;">© 2023 Grace Wang, Claire Chen, Claire Zhao, Ethan Tran, Alex Kumar, Advay Shindikar</p>
            </nav>
        </section>
    </body>
</html>



